<div class="component-outline">
  <h2>Child Component</h2>

  <div class="row">
    <div class="col-2">
      <h5>Parent var:</h5>
    </div>
    <div class="col-10">
      <h5>{{ parVar }}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <h5>Child var:</h5>
    </div>
    <div class="col-10">
      <input type="text" [(ngModel)]="chiVar" (keyup)="sendVar()">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <h5>Grand var:</h5>
      </div>
    <div class="col-10">
      <h5>{{ granVar}}</h5>
    </div>
  </div>

  <app-grandchild [parVar]="parVar" [chiVar]="chiVar" (varEmit)="receive($event)"></app-grandchild>
</div>

